.h2,
.big_heading {
  margin: 0;
  color: white;
  /* left: calc(40% + 70px); */
  font-size: 55px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  margin: 50px 0 10px;
  font-family: "cd-sb";
  z-index: 10;
}

.text {
  color: white;
  font-size: 16px;
  width: 70%;
}

.heading_container {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: fit-contents;
}

.heading_underline {
  height: 17px;
  width: 100%;
  background-color: rgb(27, 167, 169);
  position: absolute;
  bottom: 15px;
  z-index: -1;
}

.text_container {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.big_heading {
  width: 50%;
  font-size: 100px;
  font-family: "cd-sb";
  text-align: center;
  color: rgb(255, 196, 165);
}

.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
  scroll-snap-stop: always;
}

.section > div {
  width: 80%;
  height: 70%;
  position: relative;
  max-height: 90vh;
  margin: 20px;
  background: var(--white);
  overflow: hidden;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
}

.parallax_img_container {
  height: 70%;
  position: relative;
  z-index: -2;
}

.parallax_img_container_secondary {
  position: absolute;
  height: 50%;
}

.parallax_img {
  /* position: absolute; */
  top: 0;
  bottom: 0;
  height: 100%;
  /* width: 70%;
    max-width: 700px; */
  /* aspect-ratio: 1/1; */
  /* max-height: 400px; */
}
